# Mix
_build/
cover/
deps/
doc/
# Also ignore archive artifacts (built via "mix archive.build").
*.ez
# Ignore package tarball (built via "mix hex.build").
dnsimple-*.tar

# Erlang
erl_crash.dump

# Local configs
.claude/
.iex.exs
.tool-versions
