---
name: CI

on:
  push:
    branches:
      - main
    tags:
      - v*.*.*
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  markdownlint-cli:
    name: Lint markdown
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Run markdownlint-cli
        uses: nosborn/github-action-markdown-cli@v3.5.0
        with:
          files: .
          config_file: ".markdownlint.yaml"

  test:
    needs: [markdownlint-cli]
    runs-on: ubuntu-latest
    name: Elixir ${{matrix.elixir}} / OTP ${{matrix.otp}}
    strategy:
      matrix:
        # Only support non EOL Elixir versions (https://hexdocs.pm/elixir/compatibility-and-deprecations.html)
        elixir: ['1.16', '1.17', '1.18', '1.19']
        otp: ['26', '27', '28']
        # As per https://hexdocs.pm/elixir/compatibility-and-deprecations.html#compatibility-between-elixir-and-erlang-otp
        exclude:
          - elixir: '1.16'
            otp: '27'
          - elixir: '1.16'
            otp: '28'
          - elixir: '1.17'
            otp: '28'
          - elixir: '1.18'
            otp: '28'
    steps:
      - uses: actions/checkout@v6
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - run: mix deps.get
      - run: mix test
